/*Sidebar CSS*/
.toggle{
	position: fixed;
	top: 40px;
	left: 40px;
	z-index: 2;
}
.toggle a {
	text-decoration: none;
	color: #333;
	font-size: 24px;
	cursor: pointer;
}
.menu {
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: .5s;
	background: #fff;
}
.menu ul{
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.menu ul li {
	list-style: none;
}
.menu ul li a {
	padding: 10px;
	display: inline-block;
	font-family: verdana;
	font-size: 2em;
	text-decoration: none;
	text-transform: uppercase;
	color: #333;
}
.menu ul li a:hover{
	color: #red;
}
.menu.active {
	left: 0;
	overflow: auto;
}