.welcome {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	overflow: hidden;
}
.welcome .welcome-wrapp{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
}
.welcome .welcome-wrapp .animation-text{
	list-style: none;
}
.welcome .welcome-wrapp .animation-text li{
	display: inline-block;
	margin-right: 10px;
	font-size: 5em;
	color: #fff;
	opacity: 1;
	transition: all 2s ease;
}
.welcome .welcome-wrapp .animation-text li:last-child{
	margin-right: 0px;
}
.welcome .welcome-wrapp .enter{
	display: block;
	text-align: center;
	font-size: 30px;
	text-decoration: none;
	text-transform: uppercase;
	color: #e84118;
	opacity: 1;
	transition: all 1s ease 2s;
}
.welcome .welcome-wrapp .enter a:hover {
	color: white;
}
.welcome.content-hidden .welcome-wrapp .animation-text li{
	opacity: 0;
}
.welcome .content-hidden .welcome-wrapp .animation-text li:nth-child(1){transform: translate3d(-100px, 0, 0);}
.welcome .content-hidden .welcome-wrapp .animation-text li:nth-child(2){transform: translate3d(-100px, 0, 0);}
.welcome .content-hidden .welcome-wrapp .animation-text li:nth-child(3){transform: translate3d(-100px, 0, 0);}
.welcome .content-hidden .welcome-wrapp .animation-text li:nth-child(4){transform: translate3d(-100px, 0, 0);}
.welcome .content-hidden .welcome-wrapp .animation-text li:nth-child(5){transform: translate3d(-100px, 0, 0);}
.welcome .content-hidden .welcome-wrapp .animation-text li:nth-child(6){transform: translate3d(-100px, 0, 0);}
.welcome .content-hidden .welcome-wrapp .animation-text li:nth-child(7){transform: translate3d(-100px, 0, 0);}

.welcome .content-hidden .welcome-wrapp .enter {
	opacity: 0;
	transform: translate3d(0, -30px, 0);
}
@media (min-width: 300px){
	.welcome .welcome-wrapp .animation-text{
		font-size: 20px;
	}
	.welcome .welcome-wrapp .enter {
		font-size: 1.5em;
	}
}